Node-RED_flow_mqtt.json
[
    {
        "id": "15cac7c8df12c969",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5bf86a3b07ab9ce2",
        "type": "inject",
        "z": "15cac7c8df12c969",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"left\": 3, \"right\": 5}",
        "payloadType": "json",
        "x": 310,
        "y": 200,
        "wires": [
            [
                "49f51eabb5aa0e27"
            ]
        ]
    },
    {
        "id": "49f51eabb5aa0e27",
        "type": "mqtt out",
        "z": "15cac7c8df12c969",
        "name": "",
        "topic": "add",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a6107978ca2ec4a0",
        "x": 510,
        "y": 200,
        "wires": []
    },
    {
        "id": "f7f0a724cb51e323",
        "type": "mqtt in",
        "z": "15cac7c8df12c969",
        "name": "",
        "topic": "#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a6107978ca2ec4a0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 320,
        "wires": [
            [
                "aba51f15a6a2760c"
            ]
        ]
    },
    {
        "id": "aba51f15a6a2760c",
        "type": "debug",
        "z": "15cac7c8df12c969",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 320,
        "wires": []
    },
    {
        "id": "a6107978ca2ec4a0",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.178.40",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]